---
---
@import "{{ site.theme }}";

/* Personalização do cabeçalho */
.site-header {
  background-color: #000000; /* Cor de fundo preta */
  padding: 1rem;
}
.site-title {
  color: #00ff00 !important; /* Cor verde "hacker" */
  font-family: 'Courier New', monospace;
  font-size: 1.5rem;
}
.site-nav a {
  color: #00ff00 !important; /* Cor verde "hacker" */
  font-family: 'Courier New', monospace;
  font-weight: 500;
}

/* Personalização do corpo */
body {
  font-family: 'Courier New', monospace;
  line-height: 1.6;
  color: #00ff00; /* Cor verde "hacker" */
  background-color: #000000; /* Cor de fundo preta */
}
.page-content {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

/* Personalização do rodapé */
.site-footer {
  background-color: #000000;
  color: #00ff00;
  padding: 1rem;
  text-align: center;
  font-family: 'Courier New', monospace;
}
